* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  width: 80vw;
}

header {
  background: rgb(218, 231, 255);
  background: linear-gradient(
    248deg,
    rgba(218, 231, 255, 1) 49%,
    rgba(250, 250, 250, 1) 100%
  );
}

.header-container {
  max-width: 80vw;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 150px;
}

.player {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 50% 50%;
}

.active:hover {
  cursor: pointer;
  background-color: #f1f6ff;
}
.titulos {
  grid-column-start: 1;
  border-bottom: 1px solid black;
  margin-top: 5px;
  padding: 5px;
  width: 100%;
  height: 30px;
}
.video {
  margin: 0 auto;
  padding: 10px;
  grid-column-start: 2;
  width: 60%;
  height: 450px;
}

.clase-description {
  margin-top: 25px;
  padding: 15px;
  grid-column-start: 2;
  grid-row-start: 2;
}

table {
  margin: 25px;
  width: 60%;
}

thead {
  background-color: #dae7ff;
}

.hero-container {
  height: 60vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hero-text {
  width: 40%;
}

.hero-container h1 {
  font-size: 5.5rem;
  font-weight: 800;
  margin-bottom: 30px;
}

.hero-container h3 {
  font-size: 1.5rem;
}

.hero-container img {
  margin-top: 20px;
  height: 100%;
}
.separator {
  height: 150px;

  margin: 15px auto;
}
.cursos {
  flex-wrap: wrap;
  border-radius: 35px;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
  background: rgb(0, 88, 255);
  background: linear-gradient(
    248deg,
    rgba(0, 88, 255, 1) 49%,
    rgba(250, 250, 250, 1) 100%
  );
}

.acceso {
  border-radius: 15px;
  cursor: pointer;
  width: 400px;
  margin-top: -35px;
  margin-bottom: 25px;
}

.header-nav a {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  color: black;
}
