* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  height: 10vh;
  background-color: rgb(218, 231, 255);
}
.header-container {
  padding: 15px;
}
.logo img {
  width: 85px;
}

@media screen and (max-width: 720px) {
  .container {
    margin: 30px auto;
    width: 100vw;
  }

  .clases {
    display: none;
  }

  header {
    background: rgb(218, 231, 255);
    background: linear-gradient(
      248deg,
      rgba(218, 231, 255, 1) 49%,
      rgba(250, 250, 250, 1) 100%
    );
  }

  .header-container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo img {
    width: 60px;
  }

  .player {
    /* display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50% 50%; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .active:hover {
    cursor: pointer;
    background-color: #f1f6ff;
  }
  .titulos {
    grid-column-start: 1;
    border-bottom: 1px solid black;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    height: 30px;
  }
  .video {
    margin: 50px auto;
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    height: 250px;
    /* background-color: black; */
  }

  #videoClase2,
  #videoClase3,
  #videoClase4,
  #videoClase5,
  #videoClase6,
  #videoClase7 {
    display: flex;
  }
  .header-nav {
    display: none;
  }
  #claseDescription2,
  #claseDescription3,
  #claseDescription4,
  #claseDescription1,
  #claseDescription5,
  #claseDescription6,
  #claseDescription7,
  #claseDescription8 {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
  }

  .titulo-clase {
    width: 100%;
  }

  .clase-description {
    margin-top: 25px;
    padding: 15px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
  }

  .clase-description h2 {
    margin-top: 20px;
    font-size: 1rem;
  }

  .clase-description p {
    font-size: 0.8rem;
  }

  table {
    margin: 25px;
    width: 60%;
  }

  thead {
    background-color: #dae7ff;
  }

  .hero-container {
    height: 60vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .hero-text {
    width: 40%;
  }

  .hero-container h1 {
    font-size: 5.5rem;
    font-weight: 800;
    margin-bottom: 30px;
  }

  .hero-container h3 {
    font-size: 1.5rem;
  }

  .hero-container img {
    margin-top: 20px;
    height: 100%;
  }
  .separator {
    height: 150px;

    margin: 15px auto;
  }
  .cursos {
    flex-wrap: wrap;
    border-radius: 35px;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
    background: rgb(0, 88, 255);
    background: linear-gradient(
      248deg,
      rgba(0, 88, 255, 1) 49%,
      rgba(250, 250, 250, 1) 100%
    );
  }

  .acceso {
    border-radius: 15px;
    cursor: pointer;
    width: 400px;
    margin-top: -35px;
    margin-bottom: 25px;
  }

  .header-nav a {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
}

@media screen and (min-width: 721px) {
  .titulos:hover {
    cursor: pointer;
    background-color: #f1f6ff;
  }
  .titulos {
    grid-column-start: 1;
    border-bottom: 1px solid black;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    height: 30px;
  }
  .player {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50% 50%;
  }
  .video {
    margin: 0 auto;
    padding: 10px;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 80%;
    height: 80vh;
    /* background-color: black; */
    display: none;
  }
  .activa {
    display: block;
  }

  .reproductor {
    height: 40vh;
  }

  .clase-description {
    margin-top: 25px;
    padding: 15px;
    grid-column-start: 2;
    grid-row-start: 2;
  }
  .ok {
    display: flex;
  }
}
